body{
  background-color: #222222;
  color: antiquewhite;
}

.centerParent{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(auto-fit, minmax(100px, auto)); 
  justify-items: center; 
  align-items: center; 
}

.centerParent #gameBoard{
  width: 500px;
  height: 500px;
  background-color: #333333;
  border: 5px solid gold;
}

#BIG{
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#gameContainer #score{
  color: antiquewhite;
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gameContainer .buttons{
  font-size: 25px;
  width: 200px;
  height: 50px;
  border: 2px solid gray;
  background-color: black;
  color: green;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px;
}

#gameContainer .buttons:hover{
  transition: 300ms;
  background-color: green;
  color: black;
}

#gameContainer .buttons:active{
  background-color: #ffffff;
  color: #0000ff;
}

.rotating{
  width: 37px;
  height: 37px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  /* position: fixed; */
  margin: 2rem;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}