body {
    background-color: black;
    color: whitesmoke;
}

input[type=button] {
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

.container {
    text-align: center;
}

.centerParent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    justify-items: center;
    align-items: center;
}

#day-4 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.diceRollerBtn {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 31%);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.diceRollerBtn:hover {
    background-color: hsl(210, 92%, 44%);
}

.diceRollerBtn:active {
    background-color: hsl(210, 100%, 69%);
}

#numberOfDice {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResults {
    margin: 25px;
}

#diceDisplay img {
    width: 150px;
    margin: 5px;
}

#notice {
    font-size: xx-small;
    font-family: 'Courier New';
}

#events {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #0088ff;
    border: 1px solid #00ff00;
    align-items: center;
    justify-content: center;
}

#day-11 {
    display: flex;
    justify-content: center;
}

#day-12 {
    width: 13cm;
    height: 13cm;
}

#gruMeme {
    width: 10cm;
    height: 10cm;
    visibility: hidden;
}

#hideImg {
    display: none;
}

#boxMovementArea {
    background-color: dimgrey;
    border: wheat solid 2px;
    border-radius: 4px;
    height: 524px;
    width: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #61f0f5;
    border: #0004ff solid 2px;
    height: 20px;
    width: 20px;
    position: relative;
    border-radius: 5px;
}

#animationBox {
    border: plum solid 2px;
    border-radius: 2px;
    height: 274px;
    width: 374px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stopWatch {
    border: #43c5ce solid 2px;
    height: 150px;
    width: 350px;
    background-color: #7977ff;
    display: block;
    display: grid;
    justify-items: center;
    align-items: center;
}

#timeDisplay_stopWatch {
    color: black;
    font-size: 50px;
    font-family: 'consolas', monospace;
}

.timerButton {
    margin: 2px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    /* border: 0.5px solid; */
    border-radius: 10px;
    background-color: black;
    color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

#cellContainer .cell {
    width: 100px;
    height: 100px;
    border: whitesmoke 2px solid;
    display: block;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    /* line-height: normal; */
    font-size: 75px;
    font-family: cursive, 'Courier New', Courier, monospace;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px;
}

#day-17 #resetTicTacToe {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#day-17 #gameStatus {
    font-size: 25px;
    margin-bottom: 5px;

}

#day-18 a {
    color: mediumaquamarine;
}

#day-19 .filterTypes {
    margin-top: 10px;
    margin-bottom: 5px;
}

#day-19 .userInputs {
    margin: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}