body {
  background-color: #222222;
  color: #d0c0fd;
}

.centerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  justify-items: center;
  /* align-items: center; */
}

.centerFlex {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.grid {
  width: 1009px;
  height: 503px;
  border: 2px solid wheat;
  left: 20;
  position: absolute;
}

.block {
  width: 98px;
  height: 18px;
  border: #d0c0fd solid 1px;
  background-color: blueviolet;
  position: absolute;
  /* margin: 1px; */
}

.user {
  width: 88px;
  height: 3px;
  border: #d0c0fd solid 1px;
  background-color: blue;
  position: absolute;
  /* margin: 1px; */
}

.ball {
  width: 10px;
  height: 10px;
  border: #0004ff solid 2px;
  background-color: #61f0f5;
  position: absolute;
  border-radius: 100%;
}

.score {
  position: unset;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vh;
  margin: 3px;
}